#body
{
	background-image:url(./NBD_1.jpg);
	background-position: center;
	background-position: cover;
	height: 60vh;
	padding: 5%;
	color: white;
	text-align: center;
}
#body2
{
	background-image:url(./NBD_1.jpg);
	background-position: center;
	background-position: cover;
	height: 40vh;
	padding: 15%;
	color: white;
	text-align: center;
}
#para
{
	font-family: Courier New;
	text-align: center;
}
input
{
	font-family: Courier New;
	text-align: center;
	margin: 1%;
	border: 1px;
	padding: 10px;
	border-radius: 5px;
}